<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron</title> 
	<!-- jQuery -->
	<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
	<!-- bootstrap -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
	<!-- custom css-->
	<link rel = "stylesheet" href = "{% static 'css/ui.css' %}" rel="stylesheet" type="text/css">
        <link rel = "stylesheet" href = "{% static 'css/responsive.css' %}" rel="stylesheet">
	<!-- font-awesome -->
	<link href="{% static 'font/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<!--js custom-->
	<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

    
</head>
<body>
    {% include 'base/navbar.html' %}
	<br>
	<br>
	<br>
</body>
</html>

{% block start %}

{% endblock %}

{% include 'base/footer.html' %}