{% load static %}
{% include 'base/navbar.html' %}
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historycart</title> 
	<!-- bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
	<!-- custom css-->
	<link rel = "stylesheet" href = "{% static 'css/custom.css' %}">
	<!-- font-awesome -->
	<link href="{% static 'font/css/all.min.css' %}" rel="stylesheet" type="text/css">

<script src="https://kit.fontawesome.com/e6ef55250b.js" crossorigin="anonymous"></script>

<div class="container py-5">
	<div class="row">
	  <div class="col">
		<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
		  <ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">User</a></li>
			<li class="breadcrumb-item active" aria-current="page">History cart</li>
		  </ol>
		</nav>
	  </div>
	</div>
</div>
<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="gurdeep singh osahan">
                            <div class="osahan-user-media-body">
                                <h6 class="mb-2">Gurdeep Singh</h6>
                                <p class="mb-1">+91 85680-79956</p>
                                <p>iamosahan@gmail.com</p>
                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="icofont-food-cart"></i> Orders</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Lịch sử mua hàng</h4>
                        <div class="bg-white card mb-4 order-list shadow-sm">
                            <div class="gold-members p-4">
                                <a href="#">
                                </a>
                                <div class="media">
                                    <a href="#">
                                        <img class="mr-4" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcT6ePJ7DQVBNJvKCJWBLYIcpiGIh9H9fkKPsbvJ_OW7asN-ZIbaE8OS0EHG0kLqv4gvMNfRzMMFv50QYuPPVZ7WaelmCETIEwvDs1jQfMS1yO73054SDd3kTQ&usqp=CAc" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            <span class="float-right text-info">Đã hủy <i class="icofont-check-circled text-success"></i></span>
                                        </a>
                                        <h6 class="mb-2">
                                            <a href="#"></a>
                                            <a href="#" class="text-black">Laptop Lenovo ThinkPad X1 Carbon</a>
                                        </h6>
                                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i> 1015/62/5 Huỳnh Tấn Phát, khu phố 3, phường Phú Thuận, quận 7, TP.HCM
                                        </p>
                                        <p class="text-gray mb-3"><i class="icofont-list"></i> Đã đặt vào lúc : <i class="icofont-clock-time ml-2"></i> 7:00 AM, 17/06/2023</p>
                                        
                                        <hr>
                                        <div class="float-right">
                                            <a class="btn btn-sm btn-outline-primary" href="#"><i class="icofont-headphone-alt"></i> HELP</a>
                                            <a class="btn btn-sm btn-primary" href="#"><i class="icofont-refresh"></i> REORDER</a>
                                        </div>
                                        <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Giá tiền :</span> 6500000 VND
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-white card mb-4 order-list shadow-sm">
                            <div class="gold-members p-4">
                                <a href="#">
                                </a>
                                <div class="media">
                                    <a href="#">
                                        <img class="mr-4" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRJjI6h-YVN-1Ab4IvrsRoDZ1TPWJx8jCE0au4bJhmMto0KKZnldiXPU_TQs63Xeh5tUXLKkOuVwduGJu3XQAJP5cz2yETWy5LWR1LNAep0tbPz9nu97lkE&usqp=CAc" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            <span class="float-right text-info">Đã giao <i class="icofont-check-circled text-success"></i></span>
                                        </a>
                                        <h6 class="mb-2">
                                            <a href="#"></a>
                                            <a href="#" class="text-black">Laptop Lenovo IdeaPad 5 Pro</a>
                                        </h6>
                                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i> Số 20, Trần Duy Hưng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội
                                        </p>
                                        <p class="text-gray mb-3"><i class="icofont-list"></i> Đã đặt vào lúc : <i class="icofont-clock-time ml-2"></i> 6:26 PM, 16/01/2023</p>
                                        
                                        <hr>
                                        <div class="float-right">
                                            <a class="btn btn-sm btn-outline-primary" href="#"><i class="icofont-headphone-alt"></i> HELP</a>
                                            <a class="btn btn-sm btn-primary" href="#"><i class="icofont-refresh"></i> REORDER</a>
                                        </div>
                                        <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Total Paid:</span> 15000000 VND
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-white card  order-list shadow-sm">
                            <div class="gold-members p-4">
                                <a href="#">
                                </a>
                                <div class="media">
                                    <a href="#">
                                        <img class="mr-4" src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcS4C06ddbqW-1npP4fE_RWTOhXNRASuLYvdLN6K6P4OUZoKweYzWXTNCUUzYkmoi6Ij0QR3wVFmOjHzO0LHZklTxBHVItpvIJBDm0J9Rv8&usqp=CAc" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            <span class="float-right text-info">Đang giao <i class="icofont-check-circled text-success"></i></span>
                                        </a>
                                        <h6 class="mb-2">
                                            <a href="#"></a>
                                            <a href="#" class="text-black">Apple Iphone 14 128GB</a>   
                                        </h6>
                                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i> 777 Đường 3 Tháng 2, Phường 7, Quận 10, TP.HCM                                         
                                        </p>
                                        <p class="text-gray mb-3"><i class="icofont-list"></i> Đã đặt vào lúc : <i class="icofont-clock-time ml-2"></i> 8:00 AM, 07/07/2023</p>
                                        
                                        <hr>
                                        <div class="float-right">
                                            <a class="btn btn-sm btn-outline-primary" href="#"><i class="icofont-headphone-alt"></i> HELP</a>
                                            <a class="btn btn-sm btn-primary" href="#"><i class="icofont-refresh"></i> REORDER</a>
                                        </div>
                                        <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Total Paid:</span> 17250000VND
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body{
    margin-top:20px;
    background:#eee;
}
/* My Account */
.payments-item img.mr-3 {
    width: 47px;
}
.order-list .btn {
    border-radius: 2px;
    min-width: 121px;
    font-size: 13px;
    padding: 7px 0 7px 0;
}
.osahan-account-page-left .nav-link {
    padding: 18px 20px;
    border: none;
    font-weight: 600;
    color: #535665;
}
.osahan-account-page-left .nav-link i {
    width: 28px;
    height: 28px;
    background: #535665;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    border-radius: 50px;
    margin: 0 7px 0 0px;
    color: #fff;
}
.osahan-account-page-left .nav-link.active {
    background: #f3f7f8;
    color: #282c3f !important;
}
.osahan-account-page-left .nav-link.active i {
    background: #282c3f !important;
}
.osahan-user-media img {
    width: 90px;
}
.card offer-card h5.card-title {
    border: 2px dotted #000;
}
.card.offer-card h5 {
    border: 1px dotted #daceb7;
    display: inline-table;
    color: #17a2b8;
    margin: 0 0 19px 0;
    font-size: 15px;
    padding: 6px 10px 6px 6px;
    border-radius: 2px;
    background: #fffae6;
    position: relative;
}
.card.offer-card h5 img {
    height: 22px;
    object-fit: cover;
    width: 22px;
    margin: 0 8px 0 0;
    border-radius: 2px;
}
.card.offer-card h5:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #daceb7;
    content: "";
    left: 30px;
    position: absolute;
    bottom: 0;
}
.card.offer-card h5:before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #daceb7;
    content: "";
    left: 30px;
    position: absolute;
    top: 0;
}
.payments-item .media {
    align-items: center;
}
.payments-item .media img {
    margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.order-list img.mr-4 {
    width: 70px;
    height: 70px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
    margin: 3px 0 0 0;
    font-size: 12px;
}
.osahan-cart-item .food-item {
    vertical-align: bottom;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.rounded-pill {
    border-radius: 50rem!important;
}
a:hover{
    text-decoration:none;
}

</style>

{% include 'base/footer.html' %}
