<script src="https://kit.fontawesome.com/e6ef55250b.js" crossorigin="anonymous"></script>

<div class = "container">
    
    <nav class = "navbar">
        <div class = "logo">Electron © 2021</div>
        <div class = "search">
            <form>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type = "text" placeholder="Search">
                <button type = "submit">Search</button>
            </form>
        </div>
        <div>
            <a href="#">Home</a>
            <a href="#">Cart</a>
            <a href="#">Sign in</a>
            <a href="#">Sign up</a>
            <a href="#">Account</a>
        </div>
        
        <li class = "item">
            <a href="#">Phone</a>
            <a href="#">Tablet</a>
            <a href="#">Laptop</a>
        </li>
    </nav>
    <div class = "personal">
        

    </div>
</div>
<style>
    .navbar
    {
        width: 100%;
        height: 150px;
        background-color: rgb(13, 75, 32);
        
    }
    .logo
    {
        font-size: 40px;
        color: aliceblue;
        padding-left: 20px ;
    }
    .search
    {
        margin: 0 135px;
        align-items: center;
        justify-content: center;
        
    }
    .navbar div
    {
        display: inline-block;
        
    }
    form
    {
        background: #fff;
        width: 350px;
        height: 40px;
        display: flex;
    }
    form input
    {
        flex: 1;
    }
    form button
    {
        background-color: lightgoldenrodyellow;
    }
    form .fa-magnifying-glass
    {
        align-items: center;
        padding: 10px 10px;
    }
    nav div a
    {
        padding-right: 20px;
        color: aliceblue;
    }
    .item a
    {
        width: 100%;
        height: 70px;
        align-items: center;
        margin: 0 70px;
        font-size: 30px;
        color:floralwhite;
        padding-left: 150px;
    }
    
    
</style>