{% extends "base/base.html" %}
{% load static %}
{%  block start %}

<div class="container">
    <div class="header">
        <h1>Products</h1>
    </div>
    <div class="products">
        <div class="product">
            <div class="image">
                <img src="{% static '/image/products/laptop.jfif' %}" alt="">
            </div>
            <div class="namePrice">
                <h3>Product name</h3>
                <span>200000VND</span>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}