{% extends "base/base.html" %}
{% load static %}
{%  block start %}

<div class="product-container">
    <div class="header">
        <h1>Products</h1>
    </div>
    <div class="products">
        <div class="product">
            <div class="image">
                <img src="{% static '/image/products/laptop.jfif' %}" alt="">
            </div>
            <div class="namePrice">
                <h3>Product name</h3>
                <span>200000VND</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio!</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="heart">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
                <button>Add To Cart</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}